@font-face {
  font-family: "iconfont"; /* Project id 2978739 */
  src: url('iconfont.woff2?t=1641260116394') format('woff2'),
       url('iconfont.woff?t=1641260116394') format('woff'),
       url('iconfont.ttf?t=1641260116394') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kuaijinmiao-:before {
  content: "\e601";
}

.icon-kuaituimiao-:before {
  content: "\e603";
}

.icon-Group-:before {
  content: "\e6ac";
}

.icon-bofangliebiao:before {
  content: "\e634";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-kaishi:before {
  content: "\e650";
}

.icon-24gl-nextCircle:before {
  content: "\ea6b";
}

.icon-24gl-previousCircle:before {
  content: "\ea73";
}

.icon-touting:before {
  content: "\e7c4";
}

.iconfont-jiachang_shujia:before {
  content: "\e65c";
}

.iconfont-ziyuan1:before {
  content: "\e8a4";
}

.icon-eye:before {
  content: "\e706";
}

.icon-eye-none:before {
  content: "\e709";
}

.icon-wode:before {
  content: "\e630";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-yejianmoshi:before {
  content: "\e633";
}

.icon-caidan:before {
  content: "\e614";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-mulu:before {
  content: "\e602";
}

.icon-a-qingtianbaitian:before {
  content: "\e6a2";
}

